@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

.navbar {
  font-family: 'Lilita One', cursive;
}


/* ---------- Burger Menu Styles (START) ---------- */
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 40px;
  height: 36px;
  left: 16px;
  top: 15px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  /*background: #373a47;*/
  background: #d8ddd7;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #a90000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 50px;
  width: 50px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
  height: 50px;
  width: 50px;
}

/* Sidebar wrapper styles */
/* Note: Beware of modifying this element as it can break the animations. */
/* You should not need to touch it in most cases. */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  /*background: #373a47;*/
  background: black;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding-top: 5em;
  /*padding: 0.8em;*/
}

/* Individual item */
.bm-item {
  display: inline-block;

  color: #FFFFFF;
  margin-bottom: 50px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
  border-bottom: 1px solid #FFFFFF;
}

.bm-item:hover {
  color: yellow;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
/* ---------- Burger Menu Styles (END) ---------- */


/* ---------- Youtube Embed CSS (START) ---------- */
.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
/* ---------- Youtube Embed CSS (END) ---------- */
