.text-justify {
  text-align: justify;
}

.custom-size-1 {
  height: 450px;
  width: 500px;
}

.custom-size-2 {
  height: 40px;
  width: 40px;
}

.custom-height-1 {
  height: 300px;
}

.custom-width-1 {
  width: 99%;
}

.bg-img-1 {
  background-image: url(./images/grey.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: auto;
}

.bg-img-2 {
  background-image: url(./images/contact-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: auto;
}

.carousel-control-next, .carousel-control-prev {
  filter: invert(100%);  
}

html {
  scroll-behavior: smooth;
}

.footer-color {
  background-color: #006400;
}