html {
  scroll-behavior: smooth;
}

.font-1 {
  font-family: 'Pathway Extreme', sans-serif;
}

.text-justify {
  text-align: justify;
}

.custom-size-1 {
  height: 450px;
  width: 500px;
}

.custom-size-2 {
  height: 40px;
  width: 40px;
}

.custom-size-3 {
  height: 300px;
  width: 500px;
}

.custom-height-1 {
  height: 750px;
}

.bg-img-1 {
  background-image: url(./images/grey.jpg);
  /*background-repeat: no-repeat;*/
  background-position: center;
  width: auto;
  height: auto;
}

.bg-img-2 {
  background-image: url(./images/contact-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  width: auto;
  height: auto;
}

.bg-img-3 {
  background-image: url(./images/program.jpg);
  /*background-repeat: no-repeat;*/
  background-position: center;
  width: auto;
  height: auto;
}

.bg-img-4 {
  background-image: url(./images/card-bg.jpg);
  /*background-repeat: no-repeat;*/
  background-position: center;
  width: auto;
  height: auto;
}

.carousel-control-next, .carousel-control-prev {
  filter: invert(100%);
}

.carousel-indicator-button {
  filter: invert(100%);
}

.navbar-color {
  background-color: #006600;
  /* #052e66 */
}

.footer-color {
  background-color: #006400;
}

.copyright-color {
  background-color: rgba(0, 0, 0, 0.2);
}

.icon-size {
  font-size:24px
}
